/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garantir que o html e body ocupem toda a tela */
html, body {
  height: 100%;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
